.link {
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: #000;
  padding: 20px 30px;
  position: relative;
  transition: .3s linear;
}

.link:after {
  position: absolute;
  color: white;
  transition: .2s linear;
}

.link:hover {
  background: #434c5a;
  color: white;
}

.menu-color {
  background-color: #E6E9EF  ;
}

.container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}
