<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-2 parameters-hdr"><h3>Parameters</h3></div>
    </div>
    <div class="row">
        <div class="col-1 date-label"><p>Start date:</p></div>
        <div class="col-2 start-date-field">
            <input type="text"
                   placeholder="mm/dd/yyyy"
                   class="form-control"
                   (bsValueChange)="validateStartDate($event)"
                   bsDatepicker>
            <p *ngIf="startDateErrMsg" class="date-error">{{startDateErrMsg}}</p>
        </div>
        <div class="col-1 date-label"><p>End date:</p></div>
        <div class="col-2 end-date-field">
            <input type="text"
                   placeholder="mm/dd/yyyy"
                   class="form-control"
                   (bsValueChange)="validateEndDate($event)"
                   bsDatepicker>
            <p *ngIf="endDateErrMsg" class="date-error">{{endDateErrMsg}}</p>
        </div>
    </div>
    <div class="row step-div">
        <div class="col-1-sm step-label"><p>Step:  </p></div>
        <div class="col-1-lg">
            <select id="stepVars" [(ngModel)]="step" name="stepVars">
                <option *ngFor="let stepVar of stepVars" [ngValue]="stepVar">{{stepVar}}</option>
            </select><br/>
        </div>

    </div>
    <div class="row analytics-div">
        <div class="col-1 analytics-label"><p>Analytics: </p></div>
        <div *ngFor="let item of analyticVariants" class="form-check form-check-inline">
            <input id="{{item.name}}" [value]="item.id" [checked]="item.check" (click)="getNeededAnalytics(item.id)"
                   class="form-check-input"
                   type="checkbox">
            <label for="{{item.name}}" class="form-check-label">{{ item.name }}</label>
        </div>
    </div>
    <div *ngIf=analyticSelected class="row results"><h3>Results</h3></div>
    <div *ngIf=analyticVariants[0].check class="row results"><h4>Cohort analysis</h4></div>
    <div *ngIf="userNumber && userNumber != null" class="text-value">
        <p>Registered users in specified date range: {{userNumber}}</p>
    </div>
    <div *ngIf="userNumberByProductsGraph && userNumberByProductsGraph != null" class="user-number-by-products">
        <plotly-plot
                [data]="userNumberByProductsGraph.data"
                [layout]="userNumberByProductsGraph.layout"></plotly-plot>
    </div>
    <div *ngIf="usersByDateGraph && usersByDateGraph != null" class="users-by-date">
        <plotly-plot
                [data]="usersByDateGraph.data"
                [layout]="usersByDateGraph.layout"></plotly-plot>
    </div>
    <div *ngIf="productsByDateGraph && productsByDateGraph != null" class="products-by-date">
        <plotly-plot
                [data]="productsByDateGraph.data"
                [layout]="productsByDateGraph.layout"></plotly-plot>
    </div>
    <div *ngIf=analyticVariants[1].check class="row results"><h4>Business metrics</h4></div>
    <div *ngIf="profit && profit != null" class="text-value">
        <p>Gross Merchandise Volume (GMS) in specified date range: {{profit}}$</p>
    </div>
    <div *ngIf="profitByDateGraph && profitByDateGraph != null" class="profit-by-date">
        <plotly-plot
                [data]="profitByDateGraph.data"
                [layout]="profitByDateGraph.layout"></plotly-plot>
    </div>
    <div *ngIf="aovs && aovs != null" class="text-value">
        <p>Average Order Value (AOV) for NRC in specified date range: {{aovs[0]}}$</p>
        <p>Average Order Value (AOV) for MRC in specified date range: {{aovs[1]}}$</p>
    </div>
    <div *ngIf="aovsByDateGraph && aovsByDateGraph != null" class="aovs-by-date">
        <plotly-plot
                [data]="aovsByDateGraph.data"
                [layout]="aovsByDateGraph.layout"></plotly-plot>
    </div>
    <div *ngIf="arppu && arppu != null" class="text-value">
        <p>Average revenue per paying user (ARPPU) in specified date range: {{arppu}}$</p>
    </div>
    <div *ngIf="arppuByDateGraph && arppuByDateGraph != null" class="profit-by-date">
        <plotly-plot
                [data]="arppuByDateGraph.data"
                [layout]="arppuByDateGraph.layout"></plotly-plot>
    </div>
    <div *ngIf="clv && clv != null" class="text-value">
        <p>Customer Lifetime Value (CLV) in specified date range: {{clv}}$</p>
    </div>
    <div *ngIf="clvByDateGraph && clvByDateGraph != null" class="profit-by-date">
        <plotly-plot
                [data]="clvByDateGraph.data"
                [layout]="clvByDateGraph.layout"></plotly-plot>
    </div>
    <div *ngIf="profitByProduct && profitByProduct != null" class="profit-by-date">
        <plotly-plot
                [data]="profitByProduct.data"
                [layout]="profitByProduct.layout"></plotly-plot>
    </div>
    <div *ngIf="profitByProductAndDate && profitByProductAndDate != null" class="profit-by-date">
        <plotly-plot
                [data]="profitByProductAndDate.data"
                [layout]="profitByProductAndDate.layout"></plotly-plot>
    </div>
    <div *ngIf=analyticVariants[2].check class="row results"><h4>Profit forecasting</h4></div>
    <div *ngIf="profitForecast && profitForecast != null" class="profit-by-date">
        <plotly-plot
                [data]="profitForecast.data"
                [layout]="profitForecast.layout"></plotly-plot>
    </div>
    <div *ngIf="profitForecastTest && profitForecastTest != null" class="profit-by-date">
        <plotly-plot
                [data]="profitForecastTest.data"
                [layout]="profitForecastTest.layout"></plotly-plot>
    </div>
    <div *ngIf="mapeEvaluation && mapeEvaluation != null" class="profit-by-date">
        <plotly-plot
                [data]="mapeEvaluation.data"
                [layout]="mapeEvaluation.layout"></plotly-plot>
    </div>
</div>