.parameters-hdr {
    margin-top: 7px;
}
.date-label {
    margin-left: 10px;
    margin-top: 5px;
}
.step-div {
    margin-left: 10px;
    margin-top: 10px;
}
.step-label {
    margin-right: 20px;
}
.analytics-label {
    margin-left: 10px;
    margin-top: 12px;
}
.results {
    margin-left: 1px;
}
.text-value {
    margin-top: 10px;
    margin-left: 10px;
}
.date-error {
    color: red;
}