<!--<body style="background-color:slategrey;height: 30px">-->
<footer class="footer">
    <div class="container-fluid back">
        <div class="row back">
            <div class="col part">
                <i>Contact us at:</i><br/>
                <i>Subscriber department: +38 XXX XXX-XX-XX</i><br/>
                <i>Technical department: +38 XXX XXX-XX-XY</i>
            </div>
            <div class="col part">
                <i>Copyright: 2020-2021</i><br/>
                <i>All rights reserved. Powered by <b>BaOSS</b></i><br/>
                <i>Designed and developed by <b>Illia Komisarov</b></i>
            </div>
        </div>
    </div>
</footer>

<!--</body>-->
