<div class="container-fluid cont-color">
    <div class="row">
        <div class="col-sm-6 app-name align-items-center d-flex mb-2">
            <p>BaOSS</p>
        </div>
        <div class="col-sm-3 col-lg-4 align-items-center align-content-center btns d-flex p-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="btn btn-block btn-gray" [routerLink]="['/register']">Registration</a>
                    </div>

                    <div class="col-lg-4">
                        <a class="btn btn-block btn-blue" [routerLink]="['/login']">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
