<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div class="back align-content-center">
  <div class="register-form container">
    <form [formGroup]="registerForm" name="form" (ngSubmit)="register()" novalidate>
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-4 mx-auto">
          <h2>Registration</h2>


          <div class="form-group">
            <input type="text" class="form-control" [ngClass]="{'is-invalid':  registerForm.get('userName').invalid && registerForm.controls['userName'].touched,
                   'is-valid': registerForm.get('userName').valid}" name="userName" placeholder="Enter your name"
                   formControlName="userName" required/>
            <div class="invalid-feedback"
                 *ngIf="registerForm.get('userName').invalid && registerForm.controls['userName'].touched">
              {{getValidationMessage('userName').message}}
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" [ngClass]="{'is-invalid':  registerForm.get('userSurname').invalid && registerForm.controls['userSurname'].touched,
                   'is-valid': registerForm.get('userSurname').valid}" name="userSurname" placeholder="Enter your surname"
                   formControlName="userSurname" required/>
            <div class="invalid-feedback"
                 *ngIf="registerForm.get('userSurname').invalid && registerForm.controls['userSurname'].touched">
              {{getValidationMessage('userSurname').message}}
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" [ngClass]="{'is-invalid':  registerForm.get('userEmail').invalid && registerForm.controls['userEmail'].touched,
                   'is-valid': registerForm.get('userEmail').valid}" name="userEmail" placeholder="Enter Email"
                   formControlName="userEmail"
                   required/>
            <div class="invalid-feedback"
                 *ngIf="registerForm.get('userEmail').invalid && registerForm.controls['userEmail'].touched">
              {{getValidationMessage('userEmail').message}}
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control"
                   [ngClass]="{'is-invalid':  registerForm.get('userLogin').invalid && registerForm.controls['userLogin'].touched,
                   'is-valid': registerForm.get('userLogin').valid}"
                   name="userLogin" placeholder="Enter login" formControlName="userLogin"
                   required/>
            <div class="invalid-feedback"
                 *ngIf="registerForm.get('userLogin').invalid && registerForm.controls['userLogin'].touched">
              {{getValidationMessage('userLogin').message}}
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" [ngClass]="{'is-invalid':  registerForm.get('userPassword').invalid && registerForm.controls['userPassword'].touched,
                   'is-valid': registerForm.get('userPassword').valid}" name="userPassword" placeholder="Password"
                   formControlName="userPassword" required/>
            <div class="invalid-feedback"
                 *ngIf="registerForm.get('userPassword').invalid && registerForm.controls['userPassword'].touched">
              {{getValidationMessage('userPassword').message}}
            </div>
          </div>

          <div class="form-group">
            <input  class="form-control" [ngClass]="{'is-invalid':  registerForm.get('phoneNumber').invalid && registerForm.controls['phoneNumber'].touched,
                   'is-valid': registerForm.get('phoneNumber').valid}" name="phoneNumber" placeholder="+38 XXX XXX-XX-XX"
                   formControlName="phoneNumber"/>
            <div class="invalid-feedback"
                 *ngIf="registerForm.get('phoneNumber').invalid && registerForm.controls['phoneNumber'].touched">
              {{getValidationMessage('phoneNumber').message}}
            </div>
          </div>

          <div class="form-group">
            <select class="form-control" formControlName="gender">
              <option disabled selected>Gender</option>
              <option value="MALE">MALE</option>
              <option value="FEMALE">FEMALE</option>
              <option value="NONE">NONE</option>
            </select>
          </div>

          <div class="form-group">
            <input type="number" class="form-control" [ngClass]="{'is-invalid':  registerForm.get('idCardNumber').invalid && registerForm.controls['idCardNumber'].touched,
                   'is-valid': registerForm.get('idCardNumber').valid}" name="idCardNumber" placeholder="Id Card Number"
                   formControlName="idCardNumber" required/>
            <div class="invalid-feedback"
                 *ngIf="registerForm.get('idCardNumber').invalid && registerForm.controls['idCardNumber'].touched">
              {{getValidationMessage('idCardNumber').message}}
            </div>
          </div>

          <div class="form-group ">
<!--            <div class="row">-->
              <input type="text" class="form-control "
                     [ngClass]="{'is-invalid':  registerForm.get('address').invalid && registerForm.controls['address'].touched,
                   'is-valid': registerForm.get('address').valid}"
                     name="address" placeholder="Country, City, Street, BuildNum, RoomNum, Index" formControlName="address"
                     required/>
<!--              <input class="btn btn-secondary col-2 col-sm-3" (click)="showMapFunc()" value="Show map"/>-->
<!--            </div>-->

            <div class="invalid-feedback"
                 *ngIf="registerForm.get('address').invalid && registerForm.controls['address'].touched">
              {{getValidationMessage('address').message}}
            </div>
          </div>

<!--          <agm-map *ngIf="showMap"-->
<!--                   [latitude]="lat" [longitude]="lng" >-->
<!--            <agm-marker [latitude]="lat" [longitude]="lng"-->
<!--                        (dragEnd)="markerDragEnd($event)" [markerDraggable]="true"></agm-marker>-->
<!--          </agm-map>-->

          <div class="form-group">
            <input type="text"
                   placeholder="Birthday: mm/dd/yyyy"
                   class="form-control"
                   formControlName="birthday"
                   bsDatepicker>
          </div>


          <div class="form-row">
            <div class="form-group mb-3 col-sm-6">
              <button [disabled]="registerForm.invalid" class="btn btn-block btn-blue">Register</button>
            </div>
            <div class="form-group col-sm-6">
              <a class="btn btn-block btn-gray" [routerLink]="['/offers']">Back</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
