.offers-instances {
    float: left;
    position: absolute;
    margin-right: 70%;
    margin-left: 60px;
    margin-top: 20px;
}
.footer {
    float: bottom;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}
.activated-discounts {
    float: left;
    position: absolute;
    margin-right: 70%;
    margin-left: 60px;
    margin-top: 15%;
}
.first {
    position: absolute;
    margin-right: 60%;
    margin-left: 20%;
    margin-top: 20px;
}
.second {
    position: absolute;
    margin-right: 60%;
    margin-left: 20%;
    margin-top: 20%;
}
.third {
    position: absolute;
    margin-right: 60%;
    margin-left: 20%;
    margin-top: 26%;
}
.span-120w {
    display: inline-block;
    width: 120px;
}
.delivery-span {
    display: inline-block;
    width: 200px;
}
.fixed-ip-span {
    display: inline-block;
    width: 90px;
}
.int-installation-span {
    display: inline-block;
    width: 200px;
}
.ipv6-support-span {
    display: inline-block;
    width: 120px;
}
.cable-length {
    width: 50px;
    height: 28px;
}
.cable-length-span {
    display: inline-block;
    width: 100px;
}
.info-btn {
    margin-left: 5px;
    border-radius: 15px;
}
.delivery-payment-info {
    position: absolute;
    margin-right: 40%;
    margin-left: 44%;
    margin-top: 20px;
    width: 350px;
}
.address-span {
    display: inline-block;
    width: 80px;
}

.address-select {
    width: 300px;
}

.summary-block {
    position: absolute;
    margin-right: 20px;
    margin-left: 68%;
    margin-top: 20px;
    width: 300px;
}
/*.date-picker {*/
/*    width: 400px;*/
/*}*/
.date-picker input {
    height: 30px;
    width: 120px;
    display: inline;
}
.date-error {
    color: red;
}
table {border: none;}
/*.delivery-time-selector {*/
/*    margin-top: 10px;*/
/*}*/

.child-value {
    margin-left: 10px;
}

.main-block {
    height: 30px;
    margin-top: 10px;
}
.total-cell {
    height: 50px;
}
.summary-product-name {
    width: 190px;
    /*height: 40px;*/
}
.price-cell {
    width: 45px;
    alignment: center;
    text-align: center;
}
.submit-button {
    position: absolute;
    margin-right: 10%;
    margin-left: 75%;
    margin-top: 32%;
    width: 100px;
}
.cancel-button {
    position: absolute;
    margin-right: 10%;
    margin-left: 85%;
    margin-top: 32%;
    width: 100px;
}
input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}
